*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #e8ff8a;
}
#head{
    text-align: center;
    font-size: 4rem;
}
#tagline{
    text-align: center;
    font-size: 1rem;
}
.dice{
    display: flex;
    width: 100%;
    justify-content: center;
}
.dicee{
    padding: 30px 100px;
}
.name{
    display: flex;
    width: 100%;
    justify-content: center;
}
.name h2{
    padding: 0px 170px;
}
#result{
    text-align: center;
    padding: 20px;
}